<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NlpModulePath" value="D:\GitRepos\Modules\NlpModules\"/>
    <!--<add key="NlpModulePath" value="C:\Users\khurs_000\Downloads\stanford-corenlp-3.5.2-models\"/>-->
    <add key="INlpProvider" value="RestServiceV1.Providers.NlpProvider"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>